.cf-sidebar-service-list {
    width: 960px;
    /* height: 3000px; */
    background-color: #f7f7f7;
    position: absolute;
    top: 0px;
    bottom: 0px;
    padding: 40px 30px;
    padding-bottom: 0;
    left: -960px;
    z-index: 50;
    box-sizing: border-box;
    transition: all .2s cubic-bezier(0,0,.2,1);
}

.cf-sidebar-service-list-close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    cursor: pointer;
}

.cf-sidebar-search-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 16px;
    color: #d9d9d9
}

.cf-sidebar-search-input {
    border: none;
    border-bottom: 1px solid #ebebeb;
    padding-left: 40px;
    width: 710px;
    color: #595959;
    height: 32px;
    background-color: #f7f7f7;
    outline:none;
    cursor: text;
}