.cf-sidebar-service-list {
    width: 960px;
    /* height: 3000px; */
    background-color: #f7f7f7;
    position: absolute;
    top: 0px;
    bottom: 0px;
    padding: 40px 30px;
    padding-bottom: 0;
    left: -960px;
    z-index: 50;
    box-sizing: border-box;
    transition: all .2s cubic-bezier(0,0,.2,1);
}

.cf-sidebar-service-list-close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    cursor: pointer;
}

.cf-sidebar-search-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 16px;
    color: #d9d9d9
}

.cf-sidebar-search-input {
    height: 26px;
    display: inline-block;
    border: none;
    position: absolute;
    padding-left: 11px;
    padding-right: 0px;
    width: 100%;
    color: #252B3A;
    background-color: #FFFFFF;
    outline: none;
    cursor: text;
}


.cf-sidebar-input-underline {
    position: absolute;
    height: 2px;
    background-color: #5E7CE0;
    border-left: 2px solid #f7f7f7;
    border-right: 2px solid #f7f7f7;
    width: 10px;
    top: 27px;
    left: 9px;
    /* transition: width .05s; */
}
.cf-sidebar-search-input-empty {
    position: absolute;
    right: 50px;
    font-size: 14px;
    cursor: pointer
}

.cf-sidebar-service-search {
    width: 692px;
    height: 28px;
    line-height: 28px;
    position: relative;
    top: 0px;
    border: 1px solid #5E7CE0;
    vertical-align: middle;
}


.cf-sidebar-search-icon {
    height: 26px;
    position: absolute;
    right: 10px;
    font-size: 16px;
    color: #C0C4CC;
    display: inline-block;
}