 * {
     padding: 0;
     margin: 0;
 }

 #cf-service-sidebar {
     width: 240px;
     position: absolute;
     top: 0px;
     bottom: 0px;
     background-color: #FFFFFF;
     font-size: 14px;
     overflow: hidden;
     transition: all .2s ease-out 0s;
     z-index: 95;
 }

 #cf-service-sidebar:hover {
     background-color: #F7F9FC;
 }

 .cf-sidebar-mini {
     width: 40px !important;
 }

 .cf-sidebar-service-wrapper {
     height: 40px;
     /* line-height: 40px; */
     overflow: hidden;
     width: 100%;
     background-color: #FFFFFF;
     position: relative;
     white-space: nowrap;
 }


 .cf-sidebar-service-wrapper:hover {
     cursor: pointer;
 }

 .cf-sidebar-collection-service {
     display: block;
     /* overflow: hidden; */
     position: relative;
     list-style: none;
     /* transform-style: preserve-3d;
     perspective: 800px; */
 }

 .cf-sidebar-collection-service:hover {
     background-color: #F7F9FC;
     cursor: pointer;
 }

 .cf-sidebar-service-icon {
     padding: 12px 15px;
     font-size: 16px;
     vertical-align: middle;
 }

 .cf-sidebar-service-row {
     width: 240px;
     height: 40px;
     position: absolute;
     z-index: 100;
     /* -webkit-animation: fadeIn .2s both; */
     /* -webkit-transition: all .2s ease-out 0s;
     -o-transition: all .2s ease-out 0s;
     transition: all .2s ease-out 0s; */
     /* transition: transform .2s ease-out 0s; */
 }

 @keyframes fadeIn {
     from {
         left: 120px;
     }

     to {
         left: 0px;
     }
 }

 .cf-sidebar-service-row-enter {
     -webkit-animation: fadeIn .2s both;
     -moz-animation: fadeIn .2s both;
     -o-animation: fadeIn .2s both;
     animation: fadeIn .2s both;
     transition: left .2s ease-out 0s;
 }

 .cf-sidebar-service-row-transition {
    transition: all .2s ease-out 0s;
 }

 .cf-sidebar-service-row-hover {
     color: #526ECC;
     background-color: #cecbcb;
 }

 .cf-sidebar-service-row-drag {
     background-color: #cecbcb !important;
     color: #526ECC;
 }

 a.cf-sidebar-service-item {
     display: inline-block;
     height: 40px;
     width: 100%;
     /* overflow: hidden; */
     text-decoration: none;
     /* color: #252B3A; */
     white-space: nowrap;
 }

 .cf-sidebar-service-name {
     display: inline-block;
     height: 40px;
     line-height: 40px;
     width: 188px;
     vertical-align: middle;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }

 /* .cf-sidebar-service-right-icon {
     position: absolute;
     right: 15px;
     top: 18px;
     display: inline-block;
     border-bottom: 4px solid transparent;
     border-left: 6px solid #252B3A;
     border-top: 4px solid transparent;
     content: '';
 }

 .cf-sidebar-mini .cf-sidebar-service-right-icon {
     display: none;
 } */

 .cf-sidebar-toolbar {
     height: 40px;
     line-height: 40px;
     vertical-align: middle;
     position: absolute;
     right: 5px;
     /* background-color: #cecbcb; */
     display: none;
 }

 .cf-sidebar-service-more-icon {
     height: 40px;
     line-height: 40px;
     /* display: inline-block; */
     position: absolute;
     vertical-align: middle;
     right: 5px;
 }

 .cf-sidebar-mini .cf-sidebar-service-more-icon {
     display: none;
 }

 .cf-sidebar-mini .cf-sidebar-toolbar {
     display: none;
 }

 .cf-sidebar-service-row-drag .cf-sidebar-toolbar {
     display: inline-block !important;
 }

 .cf-sidebar-drag {
     display: inline-block;
     cursor: move;
     height: 40px;
 }

 .cf-sidebar-remove {
     display: inline-block;
     height: 40px;
 }

 .cf-line {
     height: 1px;
     background-color: burlywood;
     width: 100%;
 }

 .cf-sidebar-mini .cf-line {
     margin-left: 6px;
     margin-right: 6px;
 }

 .cf-sidebar-service-list {
     width: 960px;
     height: 3000px;
     background-color: #f7f7f7;
     position: absolute;
     top: 0px;
     left: -960px;
     z-index: -10;
     transition: all .3s cubic-bezier(0, 0, .2, 1);
 }